<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Scope+One" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>The Song Ipsum | A Custom Ipsum Generator</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/stylesheets/css")
    @Styles.Render("~/styles/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container" ng-app="SongIpsum">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/javascripts")
    @RenderSection("scripts", required: false)
</body>
</html>
